main {
    display: grid;
    grid-template-columns: 150px 150px 150px;
    grid-gap: 0px;
    justify-content: center;
}

app-square {
    border: 1px rgb(145, 145, 145) solid;
    height: 150px;
}

section {
    display: grid;
    justify-content: center;
    align-content: center;
  }